.Header-section {
  width: 100%;
  height: 120px;
  position: fixed;
  transition: 0.3s;
  z-index: 999;
  background-color: white;
  display: flex;
  align-items: center;

  &.scrolled {
    height: 75px;
  }

  .log-out {
    background-color: transparent;
    border: 1px solid #024b72;
    color: #024b72;
    position: relative;
    overflow: hidden;
    padding: 10px 20px;
    text-align: center;
    z-index: 1;
    transition: 0.5s;
    font-family: "Inter";
    font-weight: 600;
    font-size: 13px;
    background-color: transparent;
    border: 1px solid #024b72;
    color: #024b72;

    span {
      background-color: #024b72;
    }

    &:hover {
      color: #fff;
    }

    &:hover span {
      width: 400px;
      height: 400px;
    }

    span {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transform: translate(-50%, -50%);
      z-index: -1;
      top: 50%;
      left: 50%;
    }
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .left-column {
      width: 890px;
      display: flex;
      align-items: center;

      nav {
        a {
          margin-right: 15px;
          font-size: 18px;
          color: #2c2a49;
          font-family: "Poppins", sans-serif;
          transition: 0.3s;

          &:hover {
            color: #ff5c00;
          }
        }
      }
    }

    .right-column {
      align-items: center;
      display: flex;
      gap: 20px;

      .cart {
        margin-right: 20px;
        width: 50px;

        .circle {
          position: relative;

          .count {
            position: absolute;
            width: 20px;
            height: 20px;
            right: -3px;
            top: -4px;
            background: #00c6db;
            box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.15);
            border-radius: 50%;
            line-height: 20px;
            font-family: "Poppins";
            font-weight: 600;
            font-size: 16px;
            color: #fff;
          }
        }
      }

      .phone {
        width: 50px;
      }

      .prof-btns {
        display: flex;
        flex-direction: row;
        gap: 5px;

        .login-btn,
        .register-btn,
        .log-out {
          position: relative;
          overflow: hidden;
          padding: 10px 20px;
          text-align: center;
          z-index: 1;
          transition: 0.5s;
          font-family: "Inter";
          font-weight: 600;
          font-size: 13px;
          background-color: transparent;
          border: 1px solid #024b72;
          color: #024b72;


          span {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-radius: 50%;
            transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
            transform: translate(-50%, -50%);
            z-index: -1;
            top: 50%;
            left: 50%;
          }
        }

        .login-btn {
          background-color: #ff5c02;
          color: #ffffff;

          span {
            background-color: #024b72;
          }

          &:hover span {
            width: 400px;
            height: 400px;
          }
        }

        .register-btn,
        .log-out {
          background-color: transparent;
          border: 1px solid #024b72;
          color: #024b72;

          span {
            background-color: #024b72;
          }

          &:hover {
            color: #fff;
          }

          &:hover span {
            width: 400px;
            height: 400px;
          }
        }
      }

      .circle {
        width: 50px;
        height: 50px;
        background: #ffffff;
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
        border-radius: 30px;
        text-align: center;
        color: #ff5c00;
        position: relative;
        line-height: 50px;
        font-size: 22px;
        margin-right: 41px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .username {
    font-family: "Inter";
  }

  // Styles for burger menu
  .burger-menu {
    display: none;
    cursor: pointer;
    margin-right: 15px;

    .bar {
      width: 25px;
      height: 3px;
      background-color: #333;
      margin: 5px 0;
      transition: 0.4s;

      &.open {
        transform: rotate(-45deg) translate(-5px, 5px);
      }
    }
  }

  // Navigation menu styles when burger menu is open
  nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 998;

    a {
      display: block;
      padding: 10px 20px;
      color: #2c2a49;
      font-family: "Poppins", sans-serif;
      font-size: 18px;
      transition: 0.3s;

      &:hover {
        color: #ff5c00;
      }
    }
  }

  .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }

  .loader {
    animation: rotate 1s infinite;
    height: 50px;
    width: 50px;

    &:before,
    &:after {
      border-radius: 50%;
      content: "";
      display: block;
      height: 20px;
      width: 20px;
    }

    &:before {
      animation: ball1 1s infinite;
      background-color: #fff;
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }

    &:after {
      animation: ball2 1s infinite;
      background-color: #ff3d00;
      box-shadow: 30px 0 0 #fff;
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg) scale(0.8);
    }

    50% {
      transform: rotate(360deg) scale(1.2);
    }

    100% {
      transform: rotate(720deg) scale(0.8);
    }
  }

  @keyframes ball1 {
    0% {
      box-shadow: 30px 0 0 #ff3d00;
    }

    50% {
      box-shadow: 0 0 0 #ff3d00;
      margin-bottom: 0;
      transform: translate(15px, 15px);
    }

    100% {
      box-shadow: 30px 0 0 #ff3d00;
      margin-bottom: 10px;
    }
  }

  @keyframes ball2 {
    0% {
      box-shadow: 30px 0 0 #fff;
    }

    50% {
      box-shadow: 0 0 0 #fff;
      margin-top: -20px;
      transform: translate(15px, 15px);
    }

    100% {
      box-shadow: 30px 0 0 #fff;
      margin-top: 0;
    }
  }

  .nav-btn {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
  }

  @media (max-width: 1110px) {
    .nav-menu {
      display: none;
    }

    .nav-menu.open {
      flex-direction: column;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
    }

    .nav-btn {
      display: block;
    }
  }
}