.WhyChoose-section {
  width: 100%;

  .main-wrapper {
    .wrapper {
      display: flex;
      justify-content: space-between;
      background: url(https://html.tonatheme.com/2023/poolix/assets/images/background/pattern.png);
      background-color: #003A57;

      .content {
        margin: 0 auto;
        padding-top: 155px;
        padding-bottom: 100px;

        .title-top {
          color: #ff5c00;
          margin-bottom: 8px;
          display: inline-block;
          position: relative;
          font-family: 'Playfair Display';
          font-style: italic;
          font-weight: 600;
          font-size: 22px;
          line-height: 29px;
          margin-bottom: 8px;
        }

        .title {
          font-size: 50px;
          font-weight: 700;
          line-height: 1.2;
          color: white;
          font-weight: 900;
          margin-bottom: 20px;
        }

        .descr {
          font-size: 16px;
          color: white;
          font-family: inter;
          font-weight: 300;
          line-height: 1.8;
          margin-bottom: 40px;
        }

        .row {
          .card {
            display: flex;
            gap: 14px;
            width: 315px;
            height: 200px;
            padding: 35px 35px 34px;
            margin-bottom: 30px;
            background-color: white;

            img {
              width: 38px;
              height: 35px;
            }

            .card-content-title {
              line-height: 1.25em;
              margin: 0px;
              background: none;
              color: #003B5A;
              font-family: 'Oswald', sans-serif;
              font-size: 24px;
              font-weight: 900;
              margin-bottom: 15px;
            }

            .card-descr {
              font-size: 16px;
              color: #6E6E6E;
              line-height: 1.8;
              font-family: inter;
            }
          }
        }
      }

      .unit {
        position: relative;

        .image {
          position: absolute;
          top: -100px;
          width: 720px;
          height: 570px;
        }

        .number-swiper {
          margin-top: 550px;

          .box {
            p {
              font-size: 50px;
              color: white;
              margin: 0;
            }
          }
        }
      }
    }
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;

    &::before {
      position: absolute;
      content: '';
      width: 1px;
      height: 120px;
      right: -12px;
      top: 0;
      background: rgba(255, 255, 255, 0.25);
    }

    p {
      font-size: 19px;
      color: white;
      font-weight: 300;
      margin-top: 10px;
    }
  }

  .swiper-button-prev {
    &::after {
      display: none;
    }

    width: 40px;
    height: 40px;
    transform: rotate(-45deg);
    border-left: 1px white solid;
    border-top: 1px white solid;
    margin-left: 5px;
  }

  .swiper-button-next {
    &::after {
      display: none;
    }

    transform: rotate(135deg);
    margin-left: 0;
    border-left: 1px white solid;
    border-top: 1px white solid;
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }

  @media screen and (max-width: 1420px) {
    .wrapper {
      display: flex;
      flex-direction: column;

      .unit {
        padding-bottom: 30px;
        .image {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}