.MainTop_serviceDetail-section {
  width: 100%;
  padding-top: 120px;
  .wrapper {
    padding-top: 120px;
    background: linear-gradient(225deg, rgba(0,0,0,0.29) 0%, rgba(0,0,0,0.29) 100%),url(https://html.tonatheme.com/2023/poolix/assets/images/background/page-title.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 413px;
    h1 {
      font-size: 80px;
      color: white; 
      text-align: center;
      font-weight: 700;
    }
    .nav {
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
      a {
        font-family: inter;
        transition: .3s;
        &:hover {
          color: #ff5000;
        }
      }
      p {
        font-family: inter;
      }
    }
  }
  img {
    margin-top: -38px;
  }
}